.vs
bin/
obj
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/town-of-zuul.csproj.FileListAbsolute.txt
obj/Debug/net7.0/town-of-zuul.csproj.FileListAbsolute.txt
obj/Release/net7.0/town-of-zuul.assets.cache
obj/Release/net7.0/town-of-zuul.GeneratedMSBuildEditorConfig.editorconfig
