.vs
bin/
*.obj
bin/Debug/net7.0/town-of-zuul.dll
bin/Debug/net7.0/town-of-zuul.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/town-of-zuul.csproj.nuget.dgspec.json
obj/town-of-zuul.csproj.nuget.g.props
obj/Debug/net7.0/town-of-zuul.assets.cache
obj/Debug/net7.0/town-of-zuul.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/town-of-zuul.dll
obj/Debug/net7.0/town-of-zuul.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/town-of-zuul.genruntimeconfig.cache
obj/Debug/net7.0/town-of-zuul.pdb
obj/Debug/net7.0/ref/town-of-zuul.dll
obj/Debug/net7.0/refint/town-of-zuul.dll
